<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" monitorInterval="5" name="test1">
    <Appenders>
        <Console name="SysConsole" target="SYSTEM_OUT">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%t] %c{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <Appender-ref ref="SysConsole"/>
        </Root>
    </Loggers>
</Configuration>